header{
    height:60px;
    position:relative;
    width: 100%;
    z-index: 100;
}
 
/* El logo sera flotado a la izquierda */

#logo1{
    position: absolute;
    z-index: 4;
    margin-top: -50px;
    background: url(library/img/esquina-blanca.png) no-repeat;
    width: 100%;
    background-position-x:-450px; 
    height: 151px;
    padding: 20px 0 20px 30px;
}
 
/* Nuestro nav con id #menu lo flotaremos a la derecha*/
#menu{ float: right;
    margin-top: -60px;
}
 
    /* Quitamos estilos por defecto de el tag UL */
    #menu ul{
        margin: 0;
        padding: 0;
        list-style: none;
        font-size: 16px;
    }
 
        /* Centramos y ponemos los textos en mayuscula */
        #menu li{
            display: block;
            float: left;
            text-align: center;
            margin-bottom: 0px;
        }
 
            /* Damos estilo a nuestros enlaces */
            #menu li a{
                display: block;
                color: #fff;
                text-decoration: none;
                height: 60px;
                line-height: 60px;
                padding: 0 26px;
            }
                #menu li a:hover{
                    
                    color: #000000;
                }
            #menu li ul {
                display:none;
                position:absolute;
                background: rgba(179,204,87,0.9);
                padding: 0;
                height: 150px;
                width: 100%;
            }
            #menu li:hover > ul {
                display:block;
            }
            #menu li ul li {
                width: 100%;
                max-width: 100%;
                margin: 0;
                text-align: left;
                font-size: 14px;
                height: 40px;
                padding-bottom: 10px;

            }
            #menu li ul li a:hover{
                background: rgba(179,204,87,0.9);
                width: 100%;
                height: 40px;
                padding-bottom: 10px;
            }
            #menu li ul li ul {
                
                top:0px;
                padding: 0;
            }
 
/* Estilos #nav-mobile y lo ocultamos */
#nav-mobile{
    display: none;
    background: url(library/img/nav.png) no-repeat center center;
    float: right;
    width: 60px;
    height: 60px;
    position: absolute;
    right: 0;
    top:0;
    opacity: .6;
}
 
    /* Agregaremos esta clase a #nav-mobile, cuando el menu mobile haya sido desplegado */
    #nav-mobile.nav-active{
        opacity: 1;
    }
#owl-demo{
    margin-top: -122px;
    position: absolute;
    z-index: 1;
}

#esquina-verde{
    background: url(library/img/esquina-verde.png) no-repeat;
    height: 62px;
    z-index: 0;
    position: relative;
    background-position-x:600px; 
    z-index: 2;
}


/* Estilos #nav-mobile y lo ocultamos */
#nav-mobile{
    display: none;
    background: url(library/img/nav.png) no-repeat center center;
    float: right;
    width: 60px;
    height: 60px;
    position: absolute;
    right: 0;
    top:0;
    opacity: .6;
}
 
/* contenido */
#contenido{
    padding-top: 330px;
}
#contenido h2{
    font-weight: 500;
    font-size: 20px;
    padding: 0 10px;
    color: #3a3a3a;
}
#contenido p{
    margin-top: 10px;
    line-height: 16px;
    padding: 0 10px;
    color: #8b8b8b;
    text-align: justify;
    font-size: 14px;
    font-family: 'Arial', sans-serif;

}
#contenido h2{
    line-height: 18px;
    text-align: left;
    margin-left: -10px;
}

#contenido a{
    text-decoration: none;
    color: #b3cc57;
    padding: 0 10px;
}
#contenido a:nth-child(6){
    margin-top: 3000px;
}
#contenido a, #contenido a img{
    vertical-align: middle;
}


/* Personas */
#personas{
    background: #ffffff;
    background-image: url(library/img/handmadepaper.png);
    margin-top: 30px;
    padding-top: 60px;
}
#personas h3{
    font-size: 24px;
    margin-bottom: 0px;
    color: #3a3a3a;
    font-weight: 500;
}

#personas h3, #personas h3 img{
    vertical-align:middle;
}
#personas span{
    margin-left: 60px;
    margin-top: -20px;
    position: absolute;
    color: #818181;
}
#personas p{
    font-family: 'Arial', sans-serif;
    font-size: 14px;
    color: #818181;
    padding-top: 30px;
    margin-left: 30px;
    margin-bottom: 10px;
    padding-top: 0px;
}


/* footer */
footer{
    background: #3a3a3a;
    height: auto;
    text-align: center;
    padding: 30px 0px;
    color: #ffffff;
}
footer p{
    margin: 0px;
    letter-spacing: 0.5px;
    font-size: 16px;
}
footer a{
    color: #ffffff;
    text-decoration: none;
}
#redes{
    float: right;
    margin-top: -56px;
}
ul#redes li{
    list-style: none;
    display: inline-block;
}
ul#redes, footer{
vertical-align: middle;
}

/* Copyright */
#copy{
    font-size: 12px;
    text-align: center;
    background: #000000;
    color: #ffffff;
    padding: 10px 0px;
}
#copy p{
    margin: 0px;
    letter-spacing: 1px;
}
#copy a{
    text-decoration: none;
    color: #ffffff;
}



#owl-demo .item img{
    display: block;
    width: 100%;
    height: auto;
}


/* Nosotros */
#nosotros{
    margin-top: 50px;
    margin-bottom: 50px;
    color: #848487;
}
#nosotros h2{
    font-size: 20px;
    font-weight: 500;
    margin-left: 20px;
}
#nosotros p{
    text-align: justify;
    font-size: 14px;
    line-height: 19px;
    margin: 10px 0;
}
/* Mision vision */
#vision-mision{
    margin-top: 40px;
    margin-bottom: 40px;
    color: #848487;
}
#vision-mision h3{
    font-size: 20px;
}
#vision-mision p{
    text-align: justify;
    font-size: 14px;
    line-height: 19px;
}
/* page */
#page{
    margin: 50px 0px;
    color: #848487;
}
#page h2{
    font-size: 20px;
    margin-left: 20px;
    color: #3a3a3a;
    font-weight: 500;
    letter-spacing: 0.5px;
}
#page p{
    text-align: justify;
    font-size: 14px;
    line-height: 19px;
}
.numbers{
    margin-top: 40px;
}
span#button-icon{
    margin-left: 20px;
    padding: 10px 15px;
    background: #b3cc57;
    color: #ffffff;
    font-size: 18px;
}
a.buttom::before{
    content: url(library/img/003-buttom.png);
    vertical-align: middle;
}
a.buttom::after{
    content: url(library/img/004-buttom.png);
    vertical-align: 
}
a.buttom{
    text-decoration: none;
    color: #3a3a3a;
    font-weight: 600;
}
a.buttom:hover{
    color: #848487;
}
a.buttom::before,a.buttom::after, a.buttom{
    vertical-align: middle;
    display: inline-block;
}

div.spacing p{
    margin-bottom: 35px;

}
.border-gray{
    border: 3px solid #717175;
}
iframe.border-gray{
    margin-bottom: 20px;
}
#contac{
    margin-left: 50px;
}
#contac p{
    margin-bottom:5px;
}
#contac p a{
    text-decoration: none;
    color: #848487;
}
.icon-map::before{
    content: url(library/img/icon-map.png);
}
.icon-sms::before{
    content: url(library/img/icon-sms.png);
}
.icon-tel::before{
    content: url(library/img/icon-tel.png);
}
.icon-map::before,.icon-sms::before,.icon-tel::before,#contac p{
    vertical-align: middle;
}


/* Smaller than standard 960 (devices and browsers) */
    @media only screen and (max-width: 959px) {}

    /* Tablet Portrait size to standard 960 (devices and browsers) */
    @media only screen and (min-width: 768px) and (max-width: 959px) {

        /* mostramos #nav-mobile */
    #nav-mobile{ display: block; }
 
    /* Fijamos nuestro nav en 100% ancho y dejamos de flotarlo */
    #menu{
        width: 100%;
        float: none;
        padding-top: 60px;
        background: #ffffff;
    }
 
        /* Convertimos nuestra lista de enlaces en un menú horizontal */
        #menu ul{
            box-shadow: 0 1px 2px rgba(0,0,0,.5);
            max-height: 0;
            overflow: hidden;
        }
            /* estilos para los LI del menu */
            #menu li{
                background: #33363b;
                border-bottom: 0;
                float: none;
            }
                /* Quitamos el borde del ultimo item del menú */
                #menu li:last-child{ border-bottom: 0;}
 
                #menu li a{
                    padding: 15px 0;
                    height: auto;
                    line-height: normal;
                }
                #menu li a:hover{background: rgba(179,204,87,0.9);}
 
        /* Agregamos una animación al despligue del menú */
        #menu ul.open-menu{
            max-height: 400px;
            transition: max-height .40s;
        }
        #owl-demo{
            margin-top: 0px;
        }
         #logo{
            background: url(library/img/logo-mobile.png) no-repeat 0 0;
            display: block;
            float: left;
            margin: 6px 10px 0;
            width: 176px;
            height: 43px;
            text-indent: -9999px
        }
        #logo1{
            display: none;
        }
    }

    /* All Mobile Sizes (devices and browser) */
    @media only screen and (max-width: 767px) {
       
        /* mostramos #nav-mobile */
    #nav-mobile{ display: block; }
 
    /* Fijamos nuestro nav en 100% ancho y dejamos de flotarlo */
    #menu{
        width: 100%;
        float: none;
        padding-top: 60px;
        background: #ffffff;
    }
 
        /* Convertimos nuestra lista de enlaces en un menú horizontal */
        #menu ul{
            box-shadow: 0 1px 2px rgba(0,0,0,.5);
            max-height: 0;
            overflow: hidden;
        }
            /* estilos para los LI del menu */
            #menu li{
                background: #33363b;
                border-bottom: 0;
                float: none;
            }
                /* Quitamos el borde del ultimo item del menú */
                #menu li:last-child{ border-bottom: 0;}
 
                #menu li a{
                    padding: 15px 0;
                    height: auto;
                    line-height: normal;
                }
                #menu li a:hover{background: rgba(179,204,87,0.9);}
 
        /* Agregamos una animación al despligue del menú */
        #menu ul.open-menu{
            max-height: 400px;
            transition: max-height .40s;
        }
        #owl-demo{
            margin-top: 0px;
        }
         #logo{
            background: url(library/img/logo-mobile.png) no-repeat 0 0;
            display: block;
            float: left;
            margin: 6px 10px 0;
            width: 176px;
            height: 43px;
            text-indent: -9999px
        }
         #logo1{
            display: none;
        }
        #redes{
            margin-top: 20px;
        }
        footer{
            padding-bottom: 0px;
        }
    }

    /* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
    @media only screen and (min-width: 480px) and (max-width: 767px) {
    
    /* mostramos #nav-mobile */
    #nav-mobile{ display: block; }
 
    /* Fijamos nuestro nav en 100% ancho y dejamos de flotarlo */
    #menu{
        width: 100%;
        float: none;
        padding-top: 60px;
        background: #ffffff;
    }
 
        /* Convertimos nuestra lista de enlaces en un menú horizontal */
        #menu ul{
            box-shadow: 0 1px 2px rgba(0,0,0,.5);
            max-height: 0;
            overflow: hidden;
        }
            /* estilos para los LI del menu */
            #menu li{
                background: #33363b;
                border-bottom: 0;
                float: none;
            }
                /* Quitamos el borde del ultimo item del menú */
                #menu li:last-child{ border-bottom: 0;}
 
                #menu li a{
                    padding: 15px 0;
                    height: auto;
                    line-height: normal;
                }
                #menu li a:hover{background: rgba(179,204,87,0.9);}
 
        /* Agregamos una animación al despligue del menú */
        #menu ul.open-menu{
            max-height: 400px;
            transition: max-height .40s;
        }
        #owl-demo{
            margin-top: 0px;
        }
         #logo{
            background: url(library/img/logo-mobile.png) no-repeat 0 0;
            display: block;
            float: left;
            margin: 6px 10px 0;
            width: 176px;
            height: 43px;
            text-indent: -9999px
        }
         #logo1{
            display: none;
        }
        #redes{
            margin-top: 20px;
        }
        footer{
            padding-bottom: 0px;
        }

    }

    /* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
    @media only screen and (max-width: 479px) {
    /* mostramos #nav-mobile */
    #nav-mobile{ display: block; }
 
    /* Fijamos nuestro nav en 100% ancho y dejamos de flotarlo */
    #menu{
        margin-bottom: 80px;
        background: #ffffff;
        width: 100%;
        float: none;
        padding-top: 60px;
    }
 
        /* Convertimos nuestra lista de enlaces en un menú horizontal */
        #menu ul{
            box-shadow: 0 1px 2px rgba(0,0,0,.5);
            max-height: 0;
            overflow: hidden;
        }
            /* estilos para los LI del menu */
            #menu li{
                background: #33363b;
                border-bottom: 0;
                float: none;
            }
                /* Quitamos el borde del ultimo item del menú */
                #menu li:last-child{ border-bottom: 0;}
 
                #menu li a{
                    padding: 15px 0;
                    height: auto;
                    line-height: normal;

                }
                #menu li a:hover{
                background: rgba(179,204,87,0.9);
                }
 
        /* Agregamos una animación al despligue del menú */
        #menu ul.open-menu{
            max-height: 400px;
            transition: max-height .40s;
        }


         #logo{
            background: url(library/img/logo-mobile.png) no-repeat 0 0;
            display: block;
            float: left;
            margin: 6px 10px 0;
            width: 176px;
            height: 43px;
            text-indent: -9999px
        }
        #owl-demo{
            margin-top: 0px;
        }
        #logo1{
            display: none;
        }
        #contenido{
            padding-top: 150px;
            text-align: center;
            margin-bottom: 30px;
        }
        #personas{
            display: none;
        }
        #redes{
            margin-top: 20px;
        }
        footer{
            padding-bottom: 0px;
        }
        #corchete{
            display: none;
        }
        #button-icon{
            display: none;
        }
    }

   
 
