/* Header */

#menu ul{
    margin-left: 60px;
    margin-top: 10px;
}
#menu ul li{
    display: inline-block;
    margin-right: 10px;
}
#menu ul li a{
    text-decoration: none;
    color: #ffffff;
    font-weight: 500;
}
#menu ul li a:hover{
    color: #3f3e3e;
}
header.container{
    z-index: 2; 
    margin-top: -42px;
}
#owl-demo .item img{
    display: block;
    width: 100%;
    height: auto;
}
#owl-demo{
    margin-top: -112px;
    position: absolute;
    z-index: 1;
}

#esquina-verde{
    background: url(library/img/esquina-verde.png) no-repeat;
    height: 62px;
    z-index: 0;
    position: relative;
    background-position-x:600px; 
    z-index: 2;
}
 
/* contenido */
#contenido{
    padding-top: 330px;
}
#contenido h2{
    font-weight: 500;
    font-size: 20px;
    padding: 0 10px;
    color: #3a3a3a;
}
#contenido p{
    margin-top: 10px;
    line-height: 16px;
    padding: 0 10px;
    color: #8b8b8b;
    text-align: justify;
    font-size: 14px;
    font-family: 'Arial', sans-serif;

}
#contenido h2{
    line-height: 18px;
    text-align: left;
    margin-left: -10px;
}

#contenido a{
    text-decoration: none;
    color: #b3cc57;
    padding: 0 10px;
}
#contenido a:nth-child(6){
    margin-top: 3000px;
}
#contenido a, #contenido a img{
    vertical-align: middle;
}

/* Personas */
#personas{
    background: #ffffff;
    background-image: url(library/img/handmadepaper.png);
    margin-top: 30px;
    padding-top: 60px;
}
#personas h3{
    font-size: 24px;
    margin-bottom: 0px;
    color: #3a3a3a;
    font-weight: 500;
}

#personas h3, #personas h3 img{
    vertical-align:middle;
}
#personas span{
    margin-left: 60px;
    margin-top: -20px;
    position: absolute;
    color: #818181;
}
#personas p{
    font-family: 'Arial', sans-serif;
    font-size: 14px;
    color: #818181;
    padding-top: 30px;
    margin-left: 30px;
    margin-bottom: 10px;
    padding-top: 0px;
}


/* footer */
footer{
    background: #3a3a3a;
    height: auto;
    text-align: center;
    padding: 30px 0px;
    color: #ffffff;
}
footer p{
    margin: 0px;
    letter-spacing: 0.5px;
    font-size: 16px;
}
footer a{
    color: #ffffff;
    text-decoration: none;
}
#redes{
    float: right;
    margin-top: -56px;
}
ul#redes li{
    list-style: none;
    display: inline-block;
}
ul#redes, footer{
vertical-align: middle;
}

/* Copyright */
#copy{
    font-size: 12px;
    text-align: center;
    background: #000000;
    color: #ffffff;
    padding: 10px 0px;
}
#copy p{
    margin: 0px;
    letter-spacing: 1px;
}
#copy a{
    text-decoration: none;
    color: #ffffff;
}



#owl-demo .item img{
    display: block;
    width: 100%;
    height: auto;
}

/* Smaller than standard 960 (devices and browsers) */
    @media only screen and (max-width: 959px) {}

    /* Tablet Portrait size to standard 960 (devices and browsers) */
    @media only screen and (min-width: 768px) and (max-width: 959px) {}

    /* All Mobile Sizes (devices and browser) */
    @media only screen and (max-width: 767px) {}

    /* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
    @media only screen and (min-width: 480px) and (max-width: 767px) {
    
    /* mostramos #nav-mobile */
    #nav-mobile{ display: block; }
 
    /* Fijamos nuestro nav en 100% ancho y dejamos de flotarlo */
    #menu{
        width: 100%;
        float: none;
        padding-top: 60px;
    }
 
        /* Convertimos nuestra lista de enlaces en un menú horizontal */
        #menu ul{
            box-shadow: 0 1px 2px rgba(0,0,0,.5);
            max-height: 0;
            overflow: hidden;
        }
            /* estilos para los LI del menu */
            #menu li{
                background: #33363b;
                border-bottom: 0;
                float: none;
            }
                /* Quitamos el borde del ultimo item del menú */
                #menu li:last-child{ border-bottom: 0;}
 
                #menu li a{
                    padding: 15px 0;
                    height: auto;
                    line-height: normal;
                }
                #menu li a:hover{background:#2a2d33;}
 
        /* Agregamos una animación al despligue del menú */
        #menu ul.open-menu{
            max-height: 400px;
            transition: max-height .40s;
        }
    }

    /* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
    @media only screen and (max-width: 479px) {
    /* mostramos #nav-mobile */
    #nav-mobile{ display: block; }
 
    /* Fijamos nuestro nav en 100% ancho y dejamos de flotarlo */
    #menu{
        width: 100%;
        float: none;
        padding-top: 60px;
    }
 
        /* Convertimos nuestra lista de enlaces en un menú horizontal */
        #menu ul{
            box-shadow: 0 1px 2px rgba(0,0,0,.5);
            max-height: 0;
            overflow: hidden;
        }
            /* estilos para los LI del menu */
            #menu li{
                background: #33363b;
                border-bottom: 0;
                float: none;
            }
                /* Quitamos el borde del ultimo item del menú */
                #menu li:last-child{ border-bottom: 0;}
 
                #menu li a{
                    padding: 15px 0;
                    height: auto;
                    line-height: normal;
                }
                #menu li a:hover{background:#2a2d33;}
 
        /* Agregamos una animación al despligue del menú */
        #menu ul.open-menu{
            max-height: 400px;
            transition: max-height .40s;
        }
    }
    }